body{
font-family: 'PT Sans Caption', arial, serif;
margin:0;
color: #666;
}

a:link, a:visited{
text-decoration:none;
color: #666;
}

a:hover{
	text-decoration:none;
	border-bottom:#999 dotted 1px;
}

a img{
	border:none;
}

a:hover img{
	text-decoration:none;
	border:none;
}

h1{
  padding:10px 10px 0 10px;
  margin-top:0;
  margin-bottom:10px;
  font-size:20px;
  font-family: 'PT Sans Caption', arial, serif;
  color:#333;
}

legend{
  color:#333;
  font-weight:bold;
  font-family: 'PT Sans Caption', arial, serif;
}

ul.input_boxes{
	padding:0;
	margin:0;
	position:relative;
	font-size:12px;
}

ul.input_boxes li{
	list-style-type:none;
	padding:4px 0;
	margin:0;
	font-weight:bold;
	clear:both;
}

ul.input_boxes li.inputbox{
	padding:0;
}

ul.input_boxes li.geolocation{
	display:none;
	font-size:12px; 
	font-weight:normal;
	padding:0 0 0 29px;
}

ul.input_boxes li.geolocation img{
	vertical-align:middle;
}

ul.input_boxes li.geolocation a{
	color: red;
	padding-left:2px;
}

ul.input_boxes li .textbox{
	width: 210px;
	margin:0;
}

.icon{
	height:24px;
	width:24px;
	vertical-align:middle;
}

.smallicon{
	height:12px;
	width:12px;
	vertical-align:middle;
	padding:4px;
}


#swap{
	cursor:pointer;
	position:absolute;
	top:15px;
	right:5px;
}

#content{
	position:relative;
	overflow:hidden;
}

#sidebar{
	position:absolute;
	left:0;
	width:300px;
}

#inputs{
	padding:0 5px;
	margin:0;
}

#inputs fieldset{
  border-top:auto;
  border-right:none;
  border-left:none;
  border-bottom:none;
}

#submit{
	margin-right:5px;
	margin-bottom:5px;
}

#resultsBox{

	margin:10px;
	font-size:14px;
	clear:both;
	border: 1px #999 solid;
    -moz-box-shadow:3px 3px 8px #999; 
    -webkit-box-shadow:3px 3px 8px #999;
	display:none;
	overflow:auto;
}

#results{
  display:none;
}

#tripresults{
  padding:3px 5px 0 5px;
}

.mode{
  padding:7px 5px;
}

.mode:hover{
  background:#E2ECE7;
}

#results h2{
  margin:0;
}

#results h2 span{
  float:right;
  display:block;
}

.summary{
  margin:0 0 0 15px;
  list-style-type:none;
  padding:0;
}

.summary li{
  margin:0;
  padding:0;
}

.summary .total{
  font-weight:bold;
}

.summary li div{
  float:right;
}

#warnings_panel{
  padding:0 5px;
  margin-left:20px;
  margin-top:0;
  margin-bottom:0;
}

#warnings_panel li{
  color:red;
  padding:;
}

#disclaimer{
	padding:0 5px 10px 5px;
	font-size:10px;
}

/* MAP */

#map_wrapper{
	clear:both;
	border-left: solid 1px #999999;
	margin-left:300px;
	color:#000;
	font-size:11px;
	position:relative;
}

#map_wrapper a:hover{
	border:none;
}

.map-button{
	color:#0000cc;
	text-align:center;
	background-color:#FFF;
	border:1px solid #000;
	margin:3px;
}

.map-button img{
	vertical-align:top;
}

.map-button a{
	color:#000;
	display:block;
	padding:2px;
}

#permalink{
	position:absolute;
	top:30px;
	right:85px;
	width:11em;
	display:none;
}

#twitter{
	position:absolute;
	top:30px;
	right:5px;
	width:7em;
	display:none;
}

#map_canvas{
min-height:500px;
}

#map_canvas .message {
	font-size:14px;
}

#map_canvas a {
	color:#5b5b68;
	text-decoration:none;
}

#map_canvas a {
	text-decoration:underline;
}

.popup{
	position:absolute; 
	display:none;
	width:240px;
	border:1px solid #fff;
	background:#000 url(../images/tip.png) 10px 50% no-repeat;
	filter:alpha(opacity=80);   /* Internet Explorer       */
   	-moz-opacity:0.8;           /* Mozilla 1.6 and below   */
   	opacity: 0.8;               /* newer Mozilla and CSS-3 */
 	text-align:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:#fff;
	padding:15px 25px 15px 40px; 
	font-size:14px; 
	z-index:150;
}

.popup li{
	padding:3px 0;
}

.close{
	border:none;
	position:absolute;
	top:5px;
	right:5px;
}

#loading_image{
	top:50%; 
	right:50%;
	background:#000;
	text-align:center;
}

#welcome_screen{
	top:50%; 
	right:50%;
	background:#000;
	text-align:center;
}

#tooltip {
	background-color:#ffffff;
	font-weight:bold;
	border:1px #999999 solid;
}

#bottomCredits{
	position:absolute;
	bottom:0;
	right:0;
	padding:2px 10px 0 2px;
	font-size:12px;
	background:#eee;
	border-top:1px solid #999;
	border-left:1px solid #999;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	z-index:40;
}

#bottomCredits a:hover{
	text-decoration:underline;
}

/* simple css-based tooltip */ 
div.tooltip { 
    background:#000 url(../images/tip.png) 10px 50% no-repeat;
    border:1px solid #fff; 
    padding:6px 10px 10px 40px; 
    width:200px; 
    display:none; 
    color:#fff; 
    text-align:left; 
    font-size:14px; 
	line-height:18px;
	z-index:150;
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    -moz-box-shadow:0 0 10px #000; 
    -webkit-box-shadow:0 0 10px #000; 
}

#ie6msg{
	display:none;
	width:800px;
	margin:10px auto;
}
#ie6msg a{
	text-decoration:underline;
}