[submodule "nodejs/support/express"]
	path = nodejs/support/express
	url = git://github.com/visionmedia/express.git
[submodule "nodejs/support/jade"]
	path = nodejs/support/jade
	url = git://github.com/visionmedia/jade.git
[submodule "nodejs/support/mongoose"]
	path = nodejs/support/mongoose
	url = git://github.com/LearnBoost/mongoose.git
